/*Mengatur Font Keseluruhan*/
body {
  font-family: Helvetica; 
}

/*Mengatur warna latar belakang*/
.navbar {
  background-color: #f1f3ff; 
}

/*Mengatur warna latar belakang*/
#home {
  background-color: #f1f3ff; 
}

/*Mengatur tombol dengan kelas 'btn btn-success'*/
.btn.btn-success {
  background-color: #5cb85f; 
  border-radius: 0;
}

/*Mengatur tombol dengan kelas 'btn-primary'*/
.btn-primary {
  background-color: #5cb85f; 
  border-radius: 0;
}

/*Mengatur padding vertikal 'description'*/
#description {
  padding-top: 16px; 
  padding-bottom: 16px; 
}

/* Menambah jarak antar item dalam list */
#our_service_section ul li {
  margin-bottom: 10px;
}

/* Mengatur lebar offcanvas */
.offcanvas.offcanvas-end {
  width: 250px; /* Sesuaikan lebar sesuai kebutuhan */
}

/* Agar lebih responsif, atur untuk layar kecil */
@media (max-width: 768px) {
  .offcanvas.offcanvas-end {
    width: 50%; /* Lebar 80% untuk layar kecil */
  }
}

/* Menambah margin pada bagian bawah gambar di layar kecil */
@media (max-width: 768px) {
  #our_service_section .col-md-6 {
    margin-bottom: 20px;
  }
}

/* Mengatur gaya untuk elemen dengan kelas 'car_rental' */
.car_rental {
  padding: 70px; 
  background-color: #0d28a6; 
  color: white; 
  border-radius: 13px; 
  margin-top: 20px; 
  /*Menggunakan Flexbox*/
  display: flex;
  justify-content: center; 
  align-items: center; 
}

/* Section FAQ */
.faq {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Memberikan padding atas dan bawah pada elemen */
.faq .desc {
  padding-top: 16px; 
  padding-bottom: 24px; 
}

/* Menambahkan transisi efek buka/tutup */
.accordion .accordion-collapse {
  transition: max-height 0.2s ease-out; /*Transisi*/
}

/* Mengatur tata letak icon */
.sosmed .icon-container {
  display: flex; 
  gap: 16px; 
}

/* Mengatur tampilan link */
.nav-link {
  text-decoration: none; 
  color: black; 
  display: block; 
}

/* Mengatur latar belakang */
#testimonial_section {
  background-color: white;
}

/* Mengatur tampilan carousel-inner di dalam #testimonial_section */
.carousel-inner {
  background-color: #f1f3ff; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan lembut di sekitar carousel */
}